article{
	position: relative;
	background-color: lightblue;
	padding: 10px;
	border: 1px groove black;
	margin: auto;
	display: block;
	text-align: center;
}
body{
	background-color: yellow;
	
}
#header{
	display: block;
	position: relative;
	margin: auto;
	width: 20em;
	height: 5em;
	text-align: center;
	border: 5px green;
	background-color: orange;
}
#small {
	
}