article{
	position: relative;
	background-color: lightblue;
	padding: 10px;
	border: 1px groove black;
	margin: auto;
	display: block;
	text-align: center;
}
body{
	background-color: yellow;
	
}
#header{
	
	text-align: center;
}