article{
	position: relative;
	background-color: lightblue;
	padding: 10px;
	border: 1px groove black;
	margin: auto;
	display: block;
	text-align: center;
}
body{
	background-color: yellow;
	
}
#header{
	display: block;
	position: relative;
	margin: auto;
	
	
	text-align: center;
	border: 5px green;
	background-color: orange;
	font-size: 46px;
}
nav {
	position: relative;
	display: block;
	float: right;
}
li {
	display: block;	
	padding: 10px;
	margin: 20px;
	background-color: lightgreen;
}