#practice{
	margin: auto;
	text-align;
	border: 5px groove red;
}
#discription_practice{
	border: 3px groove green;
	background-color: red;
	font-size: 32px;
}
#practice>h2{
	text-align:center;
}
#talk{
	border: 5px groove green;
	background-color: yellow;
}