body{
	border: 2px solid blue;
	margin: 0;
}

header{
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 100%;
	padding: 2%;
	border: 2px solid red;
	font-size: 3vw;
}

header>*{
	flex: 1 0 100%;
	margin:0;
	text-align: center;
	
}

figure{
	margin: 0;
}

img{
	display: block;
	width: 100%;
	border: 2px solid blue;
	height: auto;
}

nav{
	border: 2px solid green;
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	font-size: 3vw;
	
}

nav > ul{
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	flex: 1 0 auto;
	text-align: center;
}

nav > ul > li{
	border: 2px solid blue;
	font-size: 2em;
	
}

nav > ul > li > a{
	text-decoration: none;
	
}
nav > ul > li:hover{
	background-color: lightblue;
}

a:hover{
	background-color: lightblue;
	font-size: 1em;
}

a:visited{
	color: blue;
}
 
main{
	font-size: 8vw;
}

#weather_summary{
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#weather_summary>*{
	padding-left: 5vw;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	border: 2px solid black;
	margin: 1px 0;
	
}

#weather_summary>h4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.9em;
	margin-top: 0;
}

#daily_temperature{
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

#daily_temperature>*{
	justify-content: space-around;
	margin: 0px;
	
}

#small_title{
	margin: 0;
	border: 2px solid black;
	display: flex;
	align-items: center;
	padding-left: 2vw; 
	height: auto;
}

#medium_title{
	display: none;
}

#large_title{
	display: none;
}

#image_medium{
	display: none;
}

#image_large{
	display: none;
}

footer{
	border: 2px solid blue;
	width: 100%;
}

footer > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer>ul>li{
	font-size: 8vw;
	padding-left: 4vw;
}



@media (min-width: 600px) and (max-width: 1000px){

header{
	border: 0;
	height: 20vh;
	align-items: center;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header:hover{
	background-color: lightblue;
}

nav{
	border: 0;
}

nav > ul{
	display: flex;
	flex-direction: row;
	
}

nav > ul > li{
	flex: 1 0 auto;	
	border: 0;
}

#weather_information{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 5vh;
	
}



#main figure img{
	flex: 0 0 40%;
	border: 0;
}


#main{
	display: flex;
	flex-direction: row;
}

#weather_information > figure:hover{
	background-color: lightblue;
}

#weather_summary{
	border: 0;
	flex: 0 0 45%;
	font-size: 5vw;
	margin-bottom: 5vh;
}

#weather_summary:hover{
	background-color: lightblue;
}

#weather_summary > *{
	font-size: 5vw;
	border: 0;
}

#daily_temperature{
	font-size: 5vw;
	flex: 1 0 auto;	
}

#daily_temperature:hover{
	background-color: lightblue;
}

#medium_title:hover{
	background-color: lightblue;
}

footer:hover{
	background-color: lightblue;
}

#image_small{
	display: none;
}
#image_medium{
	display: block;
}

#image_large{
	display: none;
}

#small_title{
	display: none;
}

#medium_title{
	margin: 0;
	border: 2px solid black;
	display: flex;
	align-items: center;
	padding-left: 2vw; 
	height: auto;
}

#large_title{
	display: none;
}

}

@media(min-width: 1001px ){
	
body{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	border: 0;
}
	
	
header{
	flex-basis: 100%;
	border: 0;
}

nav{
	flex: 0 0 20vw;
	height: 50vh;
	border: 0;
	flex-direction: column;
	
}

nav > ul{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
	
}

nav > ul > li{
	font-size: 6vw;
	flex-basis: 30%;
	border: 0;
	margin: 3vh 0px;
	
}

nav > ul > li > a{
	
	text-decoration: none;
}

main{
	border: 0;
	flex: 1 0 50%;
	
}

#main > figure{
	width: 100%;
	align-self: flex-start;
	border: 0;
}

#main > figure > img{
	border: 0;
	
}

#sketch{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	border: 0;
}

#sketch > h2{
	margin: 5vh 0;
	border: 0;
}

#large_title{
	justify-content: center;
	font-size: 5vw;
	
}

#weather_information{
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;
	height: auto;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

#main{
	display: flex;
	flex-direction: column;
	flex: 1 0 30%;
	border: 0;
}

#weather_summary{
	margin: 5vh 0;
	order: 1;
	font-size: 4vw;
	align-self: flex-start;
	align-items: flex-start;
	border: 0;
}
#weather_summary h4{
	font-size: 4vw;
}

#weather_summary > *{
	border: 0;
	
}


#daily_temperature h4{
	font-size: 4vw;
}

#daily_temperature{
	justify-content: center;
	width: 35%;
	font-size: 4vw;
	text-align: center;
	border: 0;
}

footer{
	border: 0;
}

footer ul{
	flex-direction: column;
	justify-content: flex-start;
}

footer ul li{
	font-size: 5vw;
	
}

#image_small{
	display: none;
}

#image_medium{
	display: none;
}

#image_large{
	display: block;
}

#small_title{
	display: none;
}

#medium_title{
	display: none;
}

#large_title{
	margin: 0;
	border: 2px solid black;
	display: flex;
	align-items: center;
	padding-left: 2vw; 
	height: auto;
}

}

