body{
	display: flex;
	flex-wrap: wrap;
	border: 2px solid blue;
	margin: 0;
}

header{
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	padding: 2%;
	border: 2px solid red;
	font-size: 3vw;
}

header>*{
	flex: 1 0 auto;
	margin:0;
	text-align: center;
	
}

figure{
	margin: 0;
}

img{
	display: block;
	width: 100%;
	border: 2px solid blue;
	height: auto;
}

nav{
	border: 2px solid green;
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 100%;
	font-size: 3vw;
	
}

nav > ul{
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	flex: 1 0 100%;
	text-align: center;
}

nav > ul > li{
	border: 2px solid blue;
	font-size: 2em;
	
}

nav > ul > li > a{
	text-decoration: none;
	
}
nav > ul > li:hover{
	background-color: lightblue;
}

a:hover{
	background-color: lightblue;
	font-size: 1em;
}

 
main{
	border: 2px solid purple;
	width: 100%;
	font-size: 8vw;
	
}

#weather_summary{
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#weather_summary>*{
	padding-left: 5vw;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	border: 2px solid black;
	margin: 1px 0;
	
}

#weather_summary>h4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.9em;
	margin-top: 0;
}

#daily_temperature{
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

#daily_temperature>*{
	justify-content: space-around;
	margin: 0px;
	
}

#small_title{
	margin: 0;
	border: 2px solid black;
	height: 7vh;
	display: flex;
	align-items: center;
	padding-left: 2vw; 
}

#image_medium{
	display: none;
}

#image_large{
	display: none;
}

footer{
	border: 2px solid blue;
	width: 100%;
}

footer > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer>ul>li{
	font-size: 8vw;
	padding-left: 4vw;
}

@media screen and (min-width: 800px ){
	nav{
	border: 2px solid green;
	width: 100%;
}

nav > ul{
	display: flex;
	flex-wrap: wrap;
	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav > ul > li{
	border: 2px solid blue;
	width: 100%;
	flex: 1 0 25%;
	
}

nav > ul > li > a{
	text-decoration: none;
}

}