body {
	border: 2px solid red;
	
}

#header{
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 100%;
	padding: 2%;
	border: 2px solid red;
	font-size: 3vw;
}

#header>*{
	flex: 1 0 100%;
	margin:0;
	text-align: center;
	
}

#nav {
	border: 2px solid yellow;
}

nav{
	border: 2px solid green;
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	font-size: 3vw;
	
}

nav > ul{
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	flex: 1 0 auto;
	text-align: center;
}

nav > ul > li{
	border: 2px solid blue;
	font-size: 2em;
	
}

nav > ul > li > a{
	text-decoration: none;
	
}
nav > ul > li:hover{
	background-color: lightblue;
}

a:hover{
	background-color: lightblue;
	font-size: 1em;
}

a:visited{
	color: blue;
}

#footer {
	border: 2px solid blue;
}

main {
	border: 2px solid purple;
}
img{
	display: block;
	width: 100%;
	border: 2px solid blue;
	height: auto;
}

@media (min-width: 600px) and (max-width: 1000px){
#nav{
	width: 100vw;
}

nav > ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	
	
}

#flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	
}
img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

picture {
	width: 50%;
	margin: 1vh 1vh;
	
	
}

nav{
	flex: 0 0 40vw;
	height: 100%;
	
	
	
}
nav > ul > li > a{
	height: auto;
	margin: 1vw;
	
}
nav > ul > li{
	font-size: 1em;
	width: 100%;
}
	
}

@media(min-width: 1001px ){
	
	nav{
	flex: 0 0 30vw;
	height: 100%;
	}
	
	
	nav > ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	}
	
	nav > ul > li{
	font-size: 1em;
	
	}
	
	img{
	display: block;
	width: 50vw;
	height: 50vh;
	margin: 1vw;
}
#flex{
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	
	
}

main{
	display: flex;
	width: 60%;
	margin-left: auto;
	margin-right: 1vw;
	margin-bottom: 1vw;
	
	
	
}
}	
}
	
	
	
		justify-content: space-around;
	align-items: center;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}